.experience{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li{
    margin-bottom: .5rem;
}

.experience li .title{
    font-weight: 600;
}

.experience li .period{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 200;
}

.experience li .description{
    font-weight: 400;
}