.languages{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li{
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-weight: 500;
}

.languages li::before{
    content: "\2714";
    margin-right: .5rem;
    font-size: .8rem;
    color: #fff;
}